* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

#page-filler{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #dddddd;
}

.backlay {
	background: #dddddd;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header-welcome-message {
	color: black;
}

.header-shadow {
	background-color: white;
	box-shadow: 0 2px 13px #aaaaaa;
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#error {
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

.right {
	float: right;
}

.add-new-link {
	color: green;
}
.addNewProfileModal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.addNewProfileModal:target {
	opacity:1;
	pointer-events: auto;
}
.addNewProfileModal > div {
	position: relative;
	width: 400px;
	margin: 10% auto;
	padding: 30px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.grid-row-small{ 
	margin: 10px 0;
}

.grid-row-medium{ 
	margin: 25px 0;
}

.grid-row-large{ 
	margin: 50px 0;
}

.medium-size-text {
	font-size: 18px;
}

.large-size-text {
	font-size: 24px;
}

.login-background {
	background-color: #cccccc;
	top: 0;
	height: 100%;
}

.login-header {
	top: 0;
	height: 100px;
	background-color: #cccccc;
}

.login-main {
	padding: 50px;
	background-color: white;
}

.splash-head {
	width: 400px;
    font-size: 50px;
    font-weight: bold;
    color: #2d3e50;
	background-color: #f5f5f5;
    border: 3px solid #2d3e50;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 0.75em;
	letter-spacing: 1em;
}

.splash-head-logo {
	width: 75px;
	font-size: 12px;
	font-weight: bold;
	color: #2d3e50;
	background-color: #f5f5f5;
	border: 1px solid #2d3e50;
	padding: 0.5em 1em;
	margin: 0px;
	font-weight: 100;
	border-radius: 2px;
	line-height: 0.75em;
	letter-spacing: 0.5em;
}

.block {
	display: inline-block; 
	width: 400px; 
	height: 400px;
	margin: 0 50px;
	opacity: .9;
	background-color: white;
	border-radius: 25px;
	-moz-box-shadow:    inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow:         inset 0 0 5px #000000;
}

.inset-text {
	margin-left: 50px;
	opacity: .5;
    color: #999;
	font-size: 50px;
	letter-spacing: .1em;
    text-shadow: 1px 4px 6px #dddddd, 0 0 0 #000, 1px 4px 6px #dddddd;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

.block-image img {
	display: inline-block;
	vertical-align: middle;
	height: 50%;
	width: 50%;
	margin-left: 100px;
}

.profile-list {
	margin-top: 120px;
	width: auto;
	white-space: nowrap;
}

.valign-profile-img-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.block-image{
	height: 80%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}

.shopping-block {
	background-color: blue;
}

.music-block {
	background-color: red;
}

.dating-block {
	background-color: yellow;
}

.edit-profile-button {
	height: 10%;
	text-align: center;
	vertical-align: middle;
}

.edit-profile-button-helper {
	height: 100%;
	display: inline-block;
}

.main-new-profile-form {
	margin: 100px 50px 50px;
	padding: 25px;
	background-color: white;
	border-radius: 10px;
	min-width: 500px;
}

.line-separator {
	margin: 25px 0;
}

.admin-table {
	margin: 50px;
	min-width: 500px;
	border-collapse: collapse;
}
.admin-table th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #999999;
	color: #ffffff;
}
.admin-table td, .admin-table th {
	font-size: 1em;
	border: 1px solid #aaaaaa;
	padding: 3px 7px 2px 7px;
}
.admin-table tr.alt td {
	color: #000000;
	background-color: #EAF2D3;
}
.pure-button-delete {
	background: rgb(202, 60, 60); /* this is a maroon */
	color: white;
	font-size: 0.75em;
	padding: 3px;
	width: 50px;
	margin: 0 5px;
}
.pure-button-edit {
	background: rgb(66, 184, 221); /* this is a light blue */
	color: white;
	font-size: 0.75em;
	padding: 3px;
	width: 50px;
	margin: 0 5px;
}
.save-message {
	font-size: 15px;
	horizontal-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
.successful-save-message {
	color: green;
	width: 250px;
}

.error-save-message {
	color: red;
	width: 325px;
}

/* New stuff */

#result {
	height:20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px;
	margin-bottom:10px;
	background-color:#FFFF99;
}
#country{
	padding:3px;
	border:1px #CCC solid;
	font-size:17px;
}
.suggestionsBox {
	position: absolute;
	margin: 5px 0px 0px 0px;
	width: 200px;
	padding:0px;
	background-color: #000;
	border-top: 3px solid #000;
	color: #fff;
}
.suggestionList {
	margin: 0px;
	padding: 0px;
}
.suggestionList ul li {
	list-style:none;
	margin: 0px;
	padding: 6px;
	border-bottom:1px dotted #666;
	cursor: pointer;
}
.suggestionList ul li:hover {
	background-color: #FC3;
	color:#000;
}

.color-suggestion-ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	padding:0;
	margin:0;
}

.load{
background-image:url(loader.gif);
background-position:right;
background-repeat:no-repeat;
}

#suggest {
	position:relative;
}
/* End of new css */