* {
	margin: 0;
	padding: 0;
}

#page-filler{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.header {
	position: fixed;
	top: 12px;
	left: 18px;
}

.block {
	display: inline-block; 
	width: 300px; 
	height: 300px;
	margin: 0 10px; 
	opacity: .5; 
	border-radius: 6px;
	background-color: green;
}

.profile-list {
	margin-top: 50px;
	width: auto;
	white-space: nowrap;
}